
<div class="container  mt-4">
  <div class="row ">
    <div class="col-md-4 ">
    <div id="recommendationCarousel" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let recommendation of recommendations; let i = index" [ngClass]="{'active': i === 0}">
          <div class="card">
            <!-- <img [src]="recommendation.image" class="card-img-top" alt="Album Image"> -->
            <img [src]="recommendation.image || 'https://wallpapercave.com/dwp2x/wp6373671.jpg'" class="card-img-top ">
          <div class="card-body">
              <h5 class="card-title">{{ recommendation.artist }}</h5>
              <p class="card-text">Other information about the recommendation goes here.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#recommendationCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#recommendationCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-md-8"   >
    <div class="vertical-carousel-container">


    <div class="rec-card"  *ngFor="let recommendation of recommendations; let i = index" [ngClass]="{'active': i === 0}">
     
      <div class="bot">
       

      <img [src]="recommendation.image || 'https://wallpapercave.com/dwp2x/wp6373671.jpg'" class="card-img-top mod">
      <h5 class="card-title">{{ recommendation.artist }}</h5>
      </div> 
      <div class="rec-button">
      
      <div class="icon-but icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shuffle"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z" />
          <path
            d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z" />
        </svg>
      </div>
      <div class="icon-but icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-skip-start-fill" viewBox="0 0 16 16">
          <path
            d="M4 4a.5.5 0 0 1 1 0v3.248l6.267-3.636c.54-.313 1.232.066 1.232.696v7.384c0 .63-.692 1.01-1.232.697L5 8.753V12a.5.5 0 0 1-1 0V4z" />
        </svg>
      </div>
      <div class="icon">
        <button class="pay-button" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-play-fill" viewBox="0 0 16 16">
            <path
              d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
          </svg>
        </button>

      </div>
      <div class="icon-but icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-skip-end-fill" viewBox="0 0 16 16">
          <path
            d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.693 3.3 4 3.678 4 4.308v7.384c0 .63.692 1.01 1.233.697L11.5 8.753V12a.5.5 0 0 0 1 0V4z" />
        </svg>
      </div>
      <div class="icon-but icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-repeat"
          viewBox="0 0 16 16">
          <path
            d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192Zm3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
        </svg>
      </div>
    </div>
    </div>
    </div>
    </div>
  </div>
</div>

  
 
 
